extends layout

block content

  h1 #{title}: #{country.name}
  
  p #[strong Name:] #{country.name}

  hr
  
  if country_authors.length
  
    p #[strong Delete the following copies before attempting to delete this Book.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Authors
      dl
        each author in country_authors
          p #[strong Name:] 
            a(href=author.url) #{author.name}

      hr

      h4 Editorials
      dl
        each editorial in country_editorials
          p #[strong Name:] 
            a(href=editorial.url) #{editorial.name}

  else
    p Do you really want to delete this #[strong Country]?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=country._id )

      button.btn.btn-primary(type='submit') Delete