extends layout

block content

  h1 Language: #{language.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
      each edition in language_edition
        dt 
          p #[strong Title:] 
            a(href=edition.book.url) #{edition.book.title} 
          p #[strong Editorial:] #{edition.editorial.name} 
          p #[strong Year:] #{edition.year_formatted}
          br

      else
        p This language has no books